# Python virtual environment
venv/
env/
.venv/
.environ/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Cache
.cache/
pip-wheel-metadata/
